<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Public | </router-link>
      <router-link v-if="isLoggedIn"  to="/private">Private | </router-link>
      <router-link v-if="!isLoggedIn" to="/register">Register | </router-link>
      <router-link v-if="!isLoggedIn"  to="/login">Login | </router-link>
      <a @click.prevent="logout" v-if="isLoggedIn">Logout </a>
    </div>
    <router-view/>
 
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  components: {},
  methods: {
    logout() {
      this.$store.dispatch("logout");
    }
  },
  computed: {
    ...mapState(["isLoggedIn"])
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #00d1b2;
    }
  }
}
</style>
