<template>
    <div>
        <img src="https://zippy.gfycat.com/SkinnySeveralAsianlion.gif"  alt="loading icon">    
        <span >    Loading...</span>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.loader-container {
  img {
    height: 50px;
  }
  span {
    line-height: 50px;
    display: block;
  }
}
</style>

