<template>
    <h2 class="c-page-title">
        <slot></slot>
    </h2>
</template>

<script>
export default {};
</script>

<style>
.c-page-title {
  text-align: center;
  font-size: 2.4rem;
  color: #00d1b2;
  margin-bottom: 3rem;
}
</style>


