<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

  <title>vue-front</title>

  <style>
    .main-container {
      max-width: 1344px;
      margin: 0 auto;
    }

    .c-page-title {
      text-align: center;
      font-size: 2.4rem;
      color: #00d1b2;
    }

    .character {
      border: 1px solid #4a4a4a;
      padding: 1rem;
    }

    .character h3 {
      font-weight: bold;
      color: #00d1b2;
      font-size: 1.3rem;
    }

    .character p {
      margin: 1rem 0;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but vue-front doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->



</body>

</html>