<template>
<main class="main-container">
    <div v-if="!isLoading" class="columns">
        <div class="container column is-half is-offset-one-quarter">
         <page-title>Login</page-title>
            <form @submit.prevent=" login({email, password})" action="" class="">
                <div class="field">
                   
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input v-model.trim="email" @input="updateEmail" class="input" type="email" placeholder="Enter your email" >
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                        </span>
                        <p class="help" >
                            <b class="error" v-if="!$v.email.required">Field is required.</b>  Enter your email, if you don't have an account please
                            <router-link to='/register'>register</router-link>
                        </p>
                       
                        <div class="error" v-if="!$v.email.email">This is not an email</div>
                        
                       
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input  v-model.trim="password"  @input="updatePassword" class="input" type="password" placeholder="Enter your password">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                        </span>
                        <p class="help" >
                           <b class="error" v-if="!$v.password.required">Field is required. </b> your password
                        </p>
                        
                        <div class="error" v-if="!$v.password.minLength">should be minumum 8 chars longl</div>
                    </div>
                    
                    
                </div>
                
                <div class="control">
                    <button class="button is-primary">Login</button>

                </div>     
            </form>
            
        </div>
    </div>
    <div v-if="isLoading" class="loader-container">
        <loader></loader>
    </div>
    </main>
</template>

<script>
import { mapState } from "vuex";
import { required, minLength, email } from "vuelidate/lib/validators";

import PageTitle from "../components/PageTitle.vue";
import Loader from "../components/Loader.vue";

export default {
  components: {
    "page-title": PageTitle,
    loader: Loader
  },
  created() {},
  data() {
    return {};
  },
  validations: {
    email: {
      email,
      required
    },
    password: {
      required,
      minLength: minLength(8)
    }
  },
  computed: {
    ...mapState({
      email: state => state.login.email,
      password: state => state.login.password,
      isLoading: state => state.login.isLoading
    })
  },
  methods: {
    updateEmail(e) {
      this.$store.commit("login/updateLoginEmail", e.target.value);
      this.$v.email.$touch();
    },
    updatePassword(e) {
      this.$store.commit("login/updateLoginPassword", e.target.value);
      this.$v.password.$touch();
    },
    login() {
      this.$store.dispatch("login/login");
    }
  }
};
</script>
<style lang="scss" scoped>
.error {
  color: red;
}
</style>