<template>
    <main class="main-container">

        <page-title>Private Characters</page-title>
        <button @click="refreshTest">Refresh Token</button>
         <button @click="inspectTokenTest">Inspect Token</button>
        <div class="columns">
            <div v-for="character in characters" class=" column ">
                <div class="character">

                <h3>{{character.name}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, aut!</p>
                <span class="tag is-primary" v-if="character.public">is public</span>
                <span class="tag is-warning" v-else>is private</span>
                </div>
            </div>
            
        

        </div>
  </main>
</template>

<script>
import PageTitle from "../components/PageTitle";
export default {
  components: {
    "page-title": PageTitle
  },
  methods: {
    refreshTest() {
      this.$store.dispatch("refreshAccessToken");
    },
    inspectTokenTest() {
      this.$store.dispatch("inspectToken");
    }
  },
  data() {
    return {
      characters: [
        {
          age: 36,
          name: "He-man",
          public: true
        },
        {
          age: 37,
          name: "Skeletor",
          public: true
        },
        {
          age: 4,
          name: "Little Pony",
          public: false
        }
      ]
    };
  }
};
</script>

