<template>
<main class="main-container">
    <div class="columns">
        <div class="container column is-half is-offset-one-quarter">
         <page-title>Register</page-title>
            <form action="" class="">
             
                   <div class="field">
                   
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input v-model.trim="email" @input="updateEmail" class="input" type="email" placeholder="Enter your email" >
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                        </span>
                        <p class="help" >
                            <b class="error" v-if="!$v.email.required">Field is required.</b>  Enter your email, if you don't have an account please
                            <router-link to='/register'>register</router-link>
                        </p>
                       
                        <div class="error" v-if="!$v.email.email">This is not an email</div>                       
                       
                    </div>
                </div>

               <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input  v-model.trim="password"  @input="updatePassword" class="input" type="password" placeholder="Enter your password">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                        </span>
                        <p class="help" >
                           <b class="error" v-if="!$v.password.required">Field is required. </b> your password
                        </p>
                        
                        <div class="error" v-if="!$v.password.minLength">should be minumum 8 chars longl</div>
                    </div>     
                    
                </div>
                    
                    
          
                <div class="field">
                    <label class="label">Confirm</label>
                    <div class="control has-icons-left has-icons-right">
                        <input  v-model.trim="confirm"   @input="updateConfirm" class="input" type="password" placeholder="Confirm your password">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                        </span>
                        <p class="help" >
                            <b class="error" v-if="!$v.confirm.required">Field is required. </b> confirm your password
                        </p>
                        <div class="error" v-if="!$v.confirm.sameAs">does not match password</div>
                    </div>
                </div>
                
                <div class="control">
                    <button class="button is-primary">Register</button>

                </div>     
            </form>
        </div>
    </div>
    </main>
</template>

<script>
import { mapState } from "vuex";
import { required, sameAs, minLength, email } from "vuelidate/lib/validators";

import PageTitle from "../components/PageTitle.vue";

export default {
  components: {
    "page-title": PageTitle
  },
  data() {
    return {};
  },
  validations: {
    email: {
      email,
      required
    },
    password: {
      required,
      minLength: minLength(8)
    },
    confirm: {
      required,
      sameAs: sameAs("password")
    }
  },
  computed: {
    ...mapState({
      email: state => state.register.email,
      password: state => state.register.password,
      confirm: state => state.register.confirm
    })
  },
  methods: {
    updateEmail(e) {
      this.$store.commit("updateRegisterEmail", e.target.value);
      this.$v.email.$touch();
    },
    updatePassword(e) {
      this.$store.commit("updateRegisterPassword", e.target.value);
      this.$v.password.$touch();
    },
    updateConfirm(e) {
      this.$store.commit("updateRegisterConfirm", e.target.value);
      this.$v.confirm.$touch();
    }
  }
};
</script>
